<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h1 class="panel-title pull-left"><strong>Name</strong></h1>
        <div class="row" style="margin-top: 30px;">
            <img src="" alt="" class="pull-left">
            <button class="btn btn-danger pull-right">Delete</button>
            <button class="btn btn-primary pull-right" style="margin-right: 5px;">Edit</button>
        </div>
    </div>
    

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p><strong>Phone:</strong> </p>
                <p><strong>Email:</strong> </p>
            </div>
        </div>
    </div>
</div>

