<div class="panel panel-default">
    <div class="panel-heading clearfix" style=" padding: 20px 15px;">
        <h1 class="panel-title pull-left" style="font-size: large;"><strong>{{ contact.name }}</strong></h1>
        <div class="row" style="margin-top: 30px;">
            <img src="{{ contact.imageUrl }}" alt="" class="pull-left" style="max-height: 100px; padding-left: 15px;">
            <div class="pull-right" style="padding: 15px;">
                <a [routerLink]="['edit']" class="btn btn-info" style="margin-right: 10px;" >Edit</a>
                <a class="btn btn-danger" (click)="onDelete()">Delete</a>
            </div>
        </div>
    </div>
    

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p><strong>Phone:</strong> {{ contact.phone }} </p>
                <p><strong>Email:</strong> {{ contact.email }} </p>
            </div>
        </div>
    </div>
</div>

