<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h1 class="panel-title pull-left"><strong>Contacts</strong></h1>
        <a [routerLink]="['new']" class="btn btn-success pull-right">New Contact</a>
    </div>

    <div class="row" cdkDropList id="contactList" [cdkDropListData]="contacts">
        <div class="col-xs-12">
            <div
            cdkDropList
            id="contactList"
            [cdkDropListData]="contacts"
            [cdkDropListConnectedTo]="['groupList']">
                
                <cms-contact-item
                    *ngFor="let contact of contacts"
                    cdkDrag
                    [cdkDragData]="contact"
                    [contact]="contact"
                    [routerLink]="[contact.id]">
                </cms-contact-item>
            </div>
        </div>
    </div>

</div>
